

@keyframes render_fadein{
  0%{
    opacity: 0;
    transform: translateY(-60px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}



header{
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 9998;
}

.render_animation{
  animation-name: render_fadein;
  animation-duration: 3s;
}

.Title_container{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 0px;
  border-bottom: double 8px #a4a4a4;
}

.menu-title {
  padding: 0 0;
  top:24px;
  left:80%;
  width: 48px;
  height:48px;
  position: absolute;
}

.sub-menu {
  background: white;
  display: none;
  position: absolute;
    top:72px;
    left: calc(80% - 48px);
}


.menu:hover .sub-menu {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
}

.menu_buttons{
  background-color: #fff;
  font-size: 15px;
  padding: 15px 30px;
  border: none;
  box-shadow : 0 0 0 1px black;
}

.menu_buttons:hover{
  background-color: aliceblue;
}


.Title{
  padding-left: 20%;
  font-size: 35px;
  letter-spacing: 0.08rem;
}

.header_flexbox{
  padding-top:4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

.header_flexbox button{
  margin-right: 50px;
  height: 50px;
  width: 180px;
  font-size: 16px;
  border: 0px #ffffff;
  background-color: #ffffff;
}

.header_flexbox button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#eeeeeb), to(#fbfbfb));
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}


.background{
  width:100%;
  padding-top:200px;
  padding-bottom: 300px;
  background-image: url("sozai/pianoprototype.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-attachment: fixed;
  background-size: cover;
}

.pagecontainer{
  padding-bottom: 200px;
  margin: 0 8%;
  background-color: #dddddd;
}

.article {
  padding: 20px 30px;
}

.slider_flexbox{
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;
  align-items: center;
  margin-left: 80px;
  padding: 0;

}

.slider_flexbox h2{
  font-size: 35px;
  padding-right: 30px;
  padding-bottom: 30px;
  letter-spacing: 0.25em;
  writing-mode: vertical-rl;
  text-orientation: upright;
  word-break: break-all;
  text-align: center;
  height: 350px;

  border-right: #000 solid 3px;
  
  border-image: 
  linear-gradient(
    to top, 
    #007f84 5%,
    rgba(0, 127, 132,0.7) 30%, 
    rgba(0, 127, 132, 0) 75%
  ) 1 100%;
}
.slider_container{
  margin: 0 8% 0 7%;
  
}

.gallery1{
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  filter: blur(3px);
}

.Content{
  font-size: 20px;
  padding: 50px 10%;
  opacity: 0;
  transform: translateX(-40px);
  transition: .7s;
  transition-delay: .2s;
  
}

.Content h1{
  font-style: italic;
  font-size: 40px;
  letter-spacing: 0.04em;
  margin-left: -40px;
}

.Content ul{
  padding-left: 60px;
}
.Content li{
  margin-bottom: 5px;
}

.Content.show{
  opacity: 1;
  transform: translateX(0);
}

.frame-background{
  border-radius: 5px;
  background-color: #e8e8e8;
  border-color: #ead999;
  border-style: outset;

  position: relative;
}


.frame{
  font-size: 18px;
  background-image: url("./sozai/frame.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 13%;
  padding-bottom: 15%;
  padding-left: 15%;
}

.examples{
  position: relative;
  font-size: 15px;
  bottom: 5px;
  left: 60%;
}

.X_logo{
  width: 48px;
  position: relative;
  left: 40px;
  top: 40px;
}




.Aboutus_spacer{
  height: 175px;
}


.description_container{
  margin: 0 10%;
  font-size:20px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description_title{
  padding: 0 8% 0 0;
  text-align: center;
  position: relative;
  bottom :70px;
  width: 500px;
}

.forum_archive{
  margin: 50px 0 0 40px;
  display: flex;
  align-items: center;
}

.forum_caption{
  margin: 0 5% 0 0;
}

.forum_caption button{
  margin-right: 50px;
  height: 50px;
  width: 140px;
  font-size: 13px;
  border-radius: 8px;
  border: 0px #ffffff;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.forum_caption button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#e8e8e8), to(#f3f3f3));
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.forum_buttons{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.forum_buttons button{
  margin-right: 50px;
  height: 50px;
  width: 180px;
  font-size: 13px;
  border-radius: 8px;
  border: 0px #ffffff;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.forum_buttons button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#e8e8e8), to(#f3f3f3));
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}



.Forfreshmen_content{
  margin-top:60px;
  padding-left:8%;
  font-size: 20px;
  width: 80%;
}

.margin-adjuster{
  position: relative;
  bottom: 8px;
  left:3em;
}



.form_title.Access{
  font-style: italic;
  letter-spacing: 0.2rem;
}

.Access_container{
  margin-top: 70px;
  margin-left: 12%;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  
}

.Access_description{
  font-size: 18px;
  font-weight: bold;
  padding-right: 100px;
  padding-left: 20px;
  position: relative;
  top:50px;
  border-left: #000 2px solid ;
}


.form_title{
  text-indent: 2rem;
  margin-left: 8%;
  padding-bottom: 8px;
  font-size: 34px;
  width: 450px;
  border-bottom: 1px solid #000;
}

.Contact_frame{
  margin-left: 4%;
  background-color: #eeeeee;
  border-radius: 40px;
  letter-spacing: 0.07rem;
  font-weight: bold;
  padding: 30px 0 100px 50px;

  border: #bca553 2px; 
  border-style: solid;
}

.contact_container{
  display: flex;
  align-items: center;
}

.QRCODE{
  padding-left: 7%;
  padding-top: 20px;
}


@media screen and (min-width:480px) {
  
}


@media screen and (max-width: 480px) {

 }
